<h2>Student Details</h2>
<hr/>
<div *ngIf="student">
    <div>
        <label><b>Id:</b></label> {{student.id}}
    </div>
    <div>
        <label><b>Name:</b></label> {{student.Name}}
    </div>
    <div>
        <label><b>Dob:</b></label> {{student.dob}}
    </div>
    <div>
        <label><b>Email:</b></label> {{student.email}}
    </div>
    <div>
        <label><b>Mobile:</b></label> {{student.mobile}}
    </div>
</div>
 <br>
 <br>
 <button (click)="list" class="btn btn-primary">back to studentlist</button><br>
